/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* edit placement in script with canvas measurments */
.clear-btn {
  width: 40px;
  height: 40px;
  background-color: #fda4af;
  border-radius: 20px;
  /* color: var(--dark); */
  cursor: pointer;
  border: 0;
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1;

  transition: background-color, scale 0.2s;
}

.clear-btn:hover {
  scale: 1.1;
  background-color: hwb(350 39% 7%);
}
.clear-btn:active {
  background-color: hwb(350 18% 2%);
}
.clear-btn-icon {
  width: 20px;
  height: 20px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.save-btn {
  /* align-items: center; */
  background-color: var(--primary-btn);
  border-radius: 20px;
  color: var(--text);
  cursor: pointer;
  font-size: var(--text-size);
  font-weight: bold;
  /* justify-content: center; */
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  border: 0;
  white-space: nowrap;
  box-shadow: var(--box-shadow);
  scale: 1;
  transition: background-color, scale 0.2s;
  transition: color;
}
.save-btn:hover {
  scale: 1.1;
  background-color: var(--secondary-btn);
}
.save-btn:active {
  color: var(--dark);
}

/* --------------------------------------@MEDIA------------------------------------------------ */
/* -------------------------------------------------------------------------------------------- */

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .buttons {
    gap: 100px;
  }
}
/* desktop */
@media screen and (min-width: 1025px) {
  .buttons {
    gap: 100px;
  }
}
