/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* edit placement in script with canvas measurments */
.clear-btn {
  width: 40px;
  height: 40px;
  background-color: #fda4af;
  border-radius: 20px;
  color: var(--dark);
  cursor: pointer;
  border: 0;
  box-shadow: var(--box-shadow);
  position: absolute;

  top: 5px;
  right: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}
.clear-btn:hover {
  background-color: #ee546e;
}
.clear-btn:active {
  background-color: #b5415e;
}
.clear-btn-icon {
  width: 20px;
  height: 20px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.save-btn {
  /* align-items: center; */
  background-color: var(--primary-btn);
  border-radius: 20px;
  color: var(--text);
  cursor: pointer;
  font-size: var(--text-size);
  font-weight: bold;
  /* justify-content: center; */
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  border: 0;
  white-space: nowrap;
  box-shadow: var(--box-shadow);
  transition: background-color 0.2s;
}
.save-btn.cancel {
  background-color: var(--grey);
}
.save-btn:hover {
  background-color: var(--secondary-btn);
}
.save-btn.cancel:hover {
  background-color: var(--grey-dark);
}
.save-btn:active {
  color: var(--dark);
  background-color: var(--secondary-btn);
}
.save-btn.cancel:active {
  color: var(--dark);
  background-color: var(--grey-dark);
}

/* --------------------------------------@MEDIA------------------------------------------------ */
/* -------------------------------------------------------------------------------------------- */

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .buttons {
    gap: 100px;
  }
}
/* desktop */
@media screen and (min-width: 1025px) {
  .buttons {
    gap: 100px;
  }
}
