/*************** kebab *********************/
/* from: */
/* https://www.codehim.com/menu/animated-kebab-menu-in-html-css/ */

.kebab {
  cursor: pointer;
  /* position: relative; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.kebab-icon figure {
  width: 6px; /*size of a dot*/
  height: 6px;
  border-radius: 5px;
  background: #000000;
  margin: 5px 16px; /*distance between dots*/
}

.dropdown {
  background-color: var(--primary);
  /* background-color: pink; */
  position: absolute;
  right: var(--padding-y);
  padding: 5px;
  border-radius: 5px;
  top: 105%;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: 100% 0; /*start from right top corner*/
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12); */
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.dropdown li {
  display: block;
  list-style-type: none;
  margin: 5px;
  padding: 5px 24px;
  border-radius: 20px;
  font-size: var(--text-size); /*todo: make font size by main font  */
  background-color: var(--primary);
  transition: background-color 0.2s;
}
.dropdown li:hover {
  background-color: var(--secondary);
}

.dropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9);
}
