@import "./loader.css";
@import "./buttons.css";
@import "./kebab.css";
@import "./sweet-alert.css";

:root {
  /* --primary: #1d4ed8; */
  --primary: #4f85c6;
  /* --secondary: #3b82f6; */
  --secondary: #72a2dd;
  --primary-btn: #266ec6;
  --secondary-btn: #1d4ed8;
  /* --secondary-light: #93c5fd; */
  --secondary-light: #9cc3f0;
  --secondary-dark: #2961a6;
  --grey: #8997ab;
  --grey-light: #cbd5e1;
  --grey-dark: #737a84;
  --dark: #2a2e4e;
  --text: #ffffff;
  --box-shadow: rgba(0, 0, 0, 0.15) 0 4px 6px 3px;

  --text-size: 1.25rem; /*20px*/
  --title-size: 1.5rem; /*24px*/

  --padding-x: 0.5rem; /*8px*/
  --padding-y: 0.5rem;

  --input-width: 80vw;
}

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

.container {
  display: grid;
  max-width: 100%;
  height: 100dvh;
  grid-template-rows: auto 1fr auto; /*auto-expand according to a content, 1fr- all remaining space */
}
/* -----------------------------HEADER------------------------------ */
.header {
  background-color: var(--primary);
  display: flex;
  position: relative;
  align-items: center;
  gap: 6px;
  padding: var(--padding-y) var(--padding-x);
  padding-top: calc(var(--padding-y) * 1.5);
  font-size: var(--title-size);
  font-weight: bold;
  color: var(--text);
}

.header span img {
  height: var(--title-size);
  width: auto;
  display: block;
}

/* -----------------------------MAIN------------------------------ */

.main {
  overflow: hidden;
  text-align: center;
  padding: var(--padding-y) var(--padding-x);
  padding-top: calc(var(--padding-y) * 2);
  background-image: url("../assets/images/back-image.jpg");
  background-size: cover;
}
.section {
  margin-bottom: 1rem;
  position: relative;
}
#scrollable-dropdown-menu {
  width: var(--input-width);
  position: relative;
  margin: auto;
}
/* --------------------------------------- */
/* --------------------------------------- */
/* custom */

.tt-input,
.tt-hint,
.typeahead {
  width: var(--input-width);
  font-size: var(--text-size);
  font-weight: bold;
  text-align: left;
  padding: 5px 45px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.tt-input {
  box-shadow: var(--box-shadow);
}

.tt-hint {
  color: var(--grey);
}

.tt-menu {
  /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: var(--input-width);
  margin-top: 12px;
  padding: 8px 0;
  font-size: var(--text-size);
  text-align: left;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
}

.tt-suggestion {
  padding: 5px 20px;
}

.tt-suggestion.tt-cursor {
  /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #981b1b;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

/* --------------------------------------- */
/* --------------------------------------- */

.search-icon {
  position: absolute;
  padding: 2px 5px;
  left: 5px;
}

.datepicker {
  font-size: var(--text-size);
  text-align: center;
  width: 130px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: var(--box-shadow);
  color: var(--dark);
}

.avatar {
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  width: 192px;
  height: 192px;
}

.container-canvas {
  display: inline-block;
  position: relative;
}
.canvas {
  border-radius: 20px;
  background-color: white;
  box-shadow: var(--box-shadow);
}

/* -----------------------------FOOTER------------------------------ */

.footer {
  background-color: var(--primary);
  padding: var(--padding-y) var(--padding-x);
  font-size: 0.75rem; /*12px*/
  color: var(--grey-light);
}

/* --------------------------------------@MEDIA------------------------------------------------ */
/* -------------------------------------------------------------------------------------------- */

/* mobile: Portrait - under 768px
   tablet: Portrait - between 768px and 1024px (in a rotation it definitly wil be above 1025px)
   desktop: Landscape - above 1025px
*/
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    --padding-x: 2rem;
    --padding-y: 1rem;
    --text-size-fake: 2rem;
    --title-size: 1.85rem;
  }
  .main {
    padding-top: calc(var(--padding-y) * 1.5);
  }
  .section {
    margin-bottom: 1.5rem;
  }

  .avatar {
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    width: 256px;
    height: 256px;
  }

  .clear-btn-fake {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(-1rem - 50px);
    left: calc(50% + 250px);
  }
}

/* desktop */
@media screen and (min-width: 1025px) {
  :root {
    --padding-x: 2rem;
    --padding-y: 1rem;
    --title-size: 1.85rem;
    --input-width: 500px;
  }
  .main {
    padding-top: calc(var(--padding-y) * 1.5);
  }
  .section {
    margin-bottom: 1.5rem;
  }
  .avatar {
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    width: 256px;
    height: 256px;
  }
}
